*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   font-family: sans-serif;
}
.main{
width: 100%;
margin: 10% auto;
}
.inner-items{
    position: relative;
    max-width: 700px;
    padding: 10px;
    margin: auto;
}
.inner-items div h2{
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;

}
.inner-items h3{
    font-weight: 400;
    font-size: 15px;
}
.filtersitems{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;

}
.filtersitems button{
    padding: 10px 15px;
    margin: 10px 5px;
    background-color: rgb(233, 245, 245);
    flex-basis: 30%;
    box-shadow: 0px 0px 3px 1px cadetblue;
    border-radius: 10px;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    border: none;
}
.savebtn{
    display: flex;
    margin-top: 20px;
    justify-content: right;
    align-items: center;
 }
.savebtn button{
    padding: 10px 17px;
    cursor: pointer;
    margin: 5px;
    background-color: cadetblue;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 9px;
}
.savebtn p{
    color: black;
    font-size: 18px;
    margin-right: 20px;
}
.filtersitems button:hover{
    background-color: rgb(86, 158, 99);
    transition: 0.5s;

}
.btnfilter{
    padding: 10px 25px;
    box-shadow: 0px 0px 1px  2px cadetblue;
    border: none;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

    text-align: center;
    border-radius: 10px;
}
.btnfilte i{
    font-size: 15px;
    color: cadetblue;
    background-color: green;

}
.select-items{
    display:flex ;
    gap: 20px;
}
.allbtn:hover{
    background-color: rgb(86, 158, 99);
    transition: 0.5s;
}

.allbtns{
    max-width: 1000px;
    cursor: pointer;
    display: flex;
    margin: auto;
    gap: 20px;
    align-items:center ;
    cursor: pointer;

    padding-top: 30px;
}
.select-items select{
    padding: 10px 25px;
    box-shadow: 0px 0px 1px  2px cadetblue;
    cursor: pointer;
    border: none;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    border-radius: 10px;

}
.select-items option{
    padding: 20px 10px;
    font-size: 20px;
    font-weight: 600;
}
.select-items select option:hover{
    background-color: green;
}
.select-items option:hover{
    background-color: green;
    transition: 0.5s;
    
}
@media only screen and (min-width:200px) and (max-width:568px){
    .allbtns{
        
        flex-direction: column;
        margin: 20PX 10px;
        background-color: rgb(41, 108, 86);
        border-radius: 20px;
        box-sizing: border-box;
        border: none;
        box-shadow: 0px 0px 6px 2px cadetblue;
        display: flex;
    }
    .select-items{
        width: 60%;
        flex-direction: column;
        
    }
}
button#filter-close {
    position: absolute;
    top: 232px;
    right: 427px;
    width: 29px;
    height: 28px;
    font-size: 23px;
    background: cadetblue;
}
#filterscheck{
    display: none;
}